<style>
ion-item{
  --inner-padding-bottom: 0;
  --inner-padding-end: 0;
  --inner-padding-start: 0;
  --inner-padding-top: 0;
  padding-left: 0;
  left: 0;
  --padding-start: 0;
}
</style>

<div *ngIf="!list">
  <!-- <div class="ion-padding custom-skeleton">
    <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
    <ion-skeleton-text animated></ion-skeleton-text>
    <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
    <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
    <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
  </div> -->

  <ion-list>
    
    <ion-item>
      
      <div class="resto" >
 
        <div class="food-wrapper">
          <div class="food-holder">
          <div class="foods">
            <ion-skeleton-text style="width: 100%;height: 100%;"></ion-skeleton-text>
          
          </div>
          <div class="foods">
            <ion-skeleton-text style="width: 100%;height: 100%;"></ion-skeleton-text>
          
          </div>
         
          
          
      </div>
      </div>

      <div class="reto-name">
              <ion-skeleton-text  style="width: 20%"></ion-skeleton-text>
              <ion-skeleton-text  style="width: 20%"></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
      </div>
      </div>

        
      
    </ion-item>
    <ion-item>
      
      <div class="resto" >
        <div class="food-wrapper">
          <div class="food-holder">
          <div class="foods">
            <ion-skeleton-text style="width: 100%;height: 100%;"></ion-skeleton-text>
          
          </div>
          <div class="foods">
            <ion-skeleton-text style="width: 100%;height: 100%;"></ion-skeleton-text>
          
          </div>
         
          
          
      </div>
      </div>

      <div class="reto-name">
        
          
     
           
          
              <ion-skeleton-text  style="width: 20%"></ion-skeleton-text>
              <ion-skeleton-text  style="width: 20%"></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
      </div>
      </div>

        
      
    </ion-item>

  


    
    
  </ion-list>
</div>
<div style="width: 100%;height: 50px;">

</div>
<ion-virtual-scroll [items]="list">
  <ion-item *virtualItem="let item; index as i" [attr.data-index]="i" lines="none">
    <div class="resto" >

        <div class="reto-name">
            <div class="more-distance">
                
                
              <ion-text class="more" color="secondary">See all<ion-icon name="arrow-round-down"></ion-icon></ion-text>
            </div>
              
                  <ion-label class="title" (click)="goToResto(item.id,item.name,item.string_address)">{{item.name}}</ion-label>
               
              
              
            <ion-badge color="warning" class="resto-rate">44</ion-badge>
            <ion-buttons slot="primary" (click)="viewMap(item.lat,item.lng)" style="font-size: 12px;float: right;clear: right">
            <ion-button color="dark"  style="line-spacing: 10px;">
            <ion-icon name="map" ></ion-icon> Map</ion-button>
              </ion-buttons>
              <ion-label class="address" style="color: #888"><span class="near">{{item.d}} km</span><br /> Opens in 30 mins</ion-label>
          </div>
          
        <div class="food-wrapper">
        <div class="food-holder">
            <ion-card class="foods meal-overlay" *ngFor="let food of item.food" (click)="viewmeal(food.id,food.name,food.price,food.img,i,food.cat)">
        
            <ion-badge color="dark" class="ratings">{{food.rate}}</ion-badge>
            <ion-label class="food-name">{{food.name}}</ion-label>
    
        <ion-img src="{{post.server}}{{food.img}}"></ion-img>
        
              
      </ion-card>
        
        
    </div>
    </div>
  
    </div> 
  </ion-item>
    
  </ion-virtual-scroll>

<style>

</style>
<!-- 
<ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
  <ion-infinite-scroll-content
    loadingSpinner="bubbles"
    loadingText="Loading more data...">
  </ion-infinite-scroll-content>
</ion-infinite-scroll> -->

 