<style>

</style>

<div *ngIf="!list">
  <!-- <div class="ion-padding custom-skeleton">
    <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
    <ion-skeleton-text animated></ion-skeleton-text>
    <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
    <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
    <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
  </div> -->

  <ion-list>
    
    <ion-item>
      
      <div class="resto" >
 
        <div class="food-wrapper" >
          <div class="food-holder">
          <div class="foods sk">
            <ion-skeleton-text style="width: 185px;height: 197px; margin-right: 10px;"></ion-skeleton-text>
          </div>
          <div class="foods">
            <ion-skeleton-text style="width: 185px;height: 197px; margin-right: 10px;"></ion-skeleton-text>
          </div>
          <div class="foods">
            <ion-skeleton-text style="width: 185px;height: 197px; margin-right: 10px;"></ion-skeleton-text>
          </div>
          
         
          
          
      </div>
      </div>

      <div class="reto-name">
              <ion-skeleton-text  style="width: 20%"></ion-skeleton-text>
              <ion-skeleton-text  style="width: 20%"></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
      </div>
      </div>

        
      
    </ion-item>

    <ion-item>
      
      <div class="resto" >
 
        <div class="food-wrapper" >
          <div class="food-holder">
          <div class="foods sk">
            <ion-skeleton-text style="width: 185px;height: 197px; margin-right: 10px;"></ion-skeleton-text>
          </div>
          <div class="foods">
            <ion-skeleton-text style="width: 185px;height: 197px; margin-right: 10px;"></ion-skeleton-text>
          </div>
          <div class="foods">
            <ion-skeleton-text style="width: 185px;height: 197px; margin-right: 10px;"></ion-skeleton-text>
          </div>
          
         
          
          
      </div>
      </div>

      <div class="reto-name">
              <ion-skeleton-text  style="width: 20%"></ion-skeleton-text>
              <ion-skeleton-text  style="width: 20%"></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
      </div>
      </div>

        
      
    </ion-item>
  


    
    
  </ion-list>
</div>
<ion-row *ngIf="list" class="cat-row">
  <ion-col>
    <div class="cat-badge options" (click)="category()">
      Category <span *ngIf="length">{{length}}</span>
    </div>

  </ion-col>
</ion-row>
<ion-virtual-scroll [items]="list">
  <ion-item *virtualItem="let item; index as i" [attr.data-index]="i" lines="none">
    <div class="resto" >

        <div class="reto-name">
            <div class="more-distance">
                
                
              <ion-text class="more" color="secondary">See all<ion-icon name="arrow-round-down"></ion-icon></ion-text>
            </div>
              
                  <ion-label class="title" tappable (click)="goToResto(item.id,item.name,item.string_address,item.d)">{{item.name}}</ion-label>
               
              
                   
            <ion-badge color="warning" class="resto-rate">44</ion-badge>
            <ion-buttons slot="primary" tappable (click)="viewMap(item.lat,item.lng)" style="font-size: 12px;float: right;clear: right">
            <ion-button color="dark"  style="line-spacing: 10px;">
            <ion-icon name="map" tappable (click)="viewMap(item.lat,item.lng)"></ion-icon> Map</ion-button>
              </ion-buttons>
              <ion-label class="address" style="color: #888"><span class="near">{{item.d}} km</span><br /> Opens in 30 mins</ion-label>
          </div>
          
        <div class="food-wrapper">
        <div class="food-holder">
          <div class="foods" *ngFor="let food of item.food">
            <ion-card class="foods-card meal-overlay" tappable (click)="viewmeal(food.id,food.name,food.price,food.img,i,food.cat)">
        
            <ion-badge color="dark" class="ratings" *ngIf="global.numbercheck(food.rate)">{{food.rate}}</ion-badge>
            <ion-label class="food-name">{{food.name}}</ion-label>
    
        <ion-img src="{{post.server}}{{food.img}}"></ion-img>
        
              
      </ion-card>
       <div class="price">
        &#x20B1; {{food.price}} 
       </div>
    </div>
        
        
    </div>
    </div>
  
    </div> 
  </ion-item>
    
  </ion-virtual-scroll>

<style>
 
  .rating li ion-icon.hydrated{
    font-size: 15px !important;
  }
</style>
<!-- 
<ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
  <ion-infinite-scroll-content
    loadingSpinner="bubbles"
    loadingText="Loading more data...">
  </ion-infinite-scroll-content>
</ion-infinite-scroll> -->

 