<ion-header no-border >
  <ion-toolbar color="dark">
    <ion-buttons slot="start" class= 'back'>
      <ion-back-button icon="arrow-round-back"></ion-back-button>
    </ion-buttons>
    <ion-text class="back-label">Back</ion-text>
    <ion-text class="head-button" (click)="addFood()">SAVE</ion-text>
  </ion-toolbar>
</ion-header>
<ion-content>

     
 
    <!-- <ion-row>
      <ion-col>
        
        <ion-img class="imgpicker" src = "{{imgsrc}}"></ion-img>
     
      </ion-col>
    </ion-row> -->
   
    <ion-row class="distance-top">
      <ion-col>
          <ion-label class="restaurant-label">Three Grills and a row</ion-label>
      </ion-col>
    </ion-row>


        <ion-row class="moderate picker" (click)="pickImage()">
            <ion-col>
                <div class="imgadd">
                    <div class="photo-adder-label" *ngIf="!imgsrc"><ion-icon name="image" ></ion-icon> <span>Add Photo</span></div>
                    <div class="showing" *ngIf="imgsrc">
                        <img [src]="imgsrc" />
                    </div>
                </div>
                
                <ion-text color="medium">You can only add one photo</ion-text>
            </ion-col>
          </ion-row>
        <ion-row class="moderate">
          <ion-col>
            <input type="text" placeholder="Food Name" class="moderation-input" [(ngModel)] = "name" ctl="ngModel" />
          </ion-col>
        </ion-row>

        <ion-row class="moderate">
            <ion-col>
              <input type="number" step="1" placeholder="Price" class="moderation-input" [(ngModel)] = "price" ctl="ngModel" />
            </ion-col>
          </ion-row>

          <ion-row class="moderate">
              <ion-col>
                <div class="moderation-input category-input" (click)="category()">
                  <span *ngIf="!length" color="medium">Category</span>
                  <div class="cat-badge" *ngFor="let item of cat; index as i" [attr.data-index]="i" class="cat-badge">
                      <ion-icon name="close-circle"></ion-icon>
                    {{item}}
                  </div>
                  <ion-icon color="medium" name="arrow-dropdown"></ion-icon>
                </div>
                
              </ion-col>
            </ion-row>

    
<style>
  
  .showing{
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
    clear: both;
    background-color: #000;
  }
  .showing img{
    position: relative;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }
  .icon-button-wrapper{
    padding-left: 20px;
  }
  .icon-button{
    font-size: 30px;
  }
  .cat-select{
    --padding-bottom: 5px;
    --padding-end: 5px;
    --padding-start: 5px;
    --padding-top: 5px;
    top: -3px;
    position: relative;
  }
  .cat-select:active{
    opacity: 0.4;
    transition: all 1s;
   
  }
  .img-wrapper{
    width: 60px;
    height: 64px;
    float: left;
    clear: both;
    position: relative;
  }
  
  .imgadd{
    width: 100%;
    height: 185px;
    position: relative;
    clear: both;
    border: 1px solid #dedede;
    border-radius: 10px;
    background-color: #f5f5f5;
  }
  .photo-adder-label{
    width: 100%;
    position: relative;
    text-align: center;
    top: 50%;
    

  }
  .photo-adder-label span{
    position: relative;
    top: -5px;
  }
  .photo-adder-label ion-icon{
    font-size: 25px;
  }
  .picker{
    margin-bottom: 10px;
  }
  
  .picker:active{
    background-color: #ccc;
    transition: all 1s;
  }.restaurant-label{
    font-weight: bold;
    padding-left: 5px;
    font-size: 22px;
  }
  .category-input{
    height: auto;
    overflow: hidden;
    
  }
</style>
  </ion-content>
