
<ion-header no-border >
  <ion-toolbar color="dark">
    <ion-buttons slot="start" class= 'back'>
      <ion-button (click)="goback()"><ion-icon name="arrow-round-back" class= 'back'></ion-icon></ion-button>
    </ion-buttons>
    <ion-text class="back-label">Back</ion-text>
    <ion-text class="head-button">SAVE</ion-text>
  </ion-toolbar>
</ion-header>
<ion-content>
  

   
     
      <ion-row class="distance-top">
          <ion-col>
              
          </ion-col>
        </ion-row>
            
        
    <div *ngFor="let item of result" (click)="goToResto(item.id,item.name,item.address,item.d,item.lat,item.lng)" class="cards">
        <ion-card>
            <ion-card-header>
              <ion-card-subtitle>{{item.name}}</ion-card-subtitle>
              <ion-card-title>{{item.address}}</ion-card-title>
            </ion-card-header>
            <ion-row class="ion-padding">
              <ion-col><ion-label>42 Meals</ion-label></ion-col>
              <ion-col><ion-label>44 Beverages</ion-label></ion-col>
              <ion-col><ion-label>Date Added: Aug. 5 2019</ion-label></ion-col>
            </ion-row>
          </ion-card>
        </div>
          <!-- <ion-virtual-scroll [items]="result" >
              
              <ion-item *virtualItem="let item">
                  {{item.name}}
              </ion-item>
            </ion-virtual-scroll> -->

       
        <style>
          .cards:active{
            opacity: 0.4;
            transition: all 0.4s;
          }
        </style>
     
      
      
</ion-content>
