<ion-list>
  <ion-item (click)="addPhoto()">
    <ion-icon name="photos" slot="start"></ion-icon>
    Slider
  </ion-item>
  <ion-item (click)="editTile()">
    <ion-icon name="flask" slot="start"></ion-icon>
    Restaurant Name
  </ion-item>
  <ion-item (click)="editAddress()">
    <ion-icon name="map" slot="start"></ion-icon>
    Change Address
  </ion-item>
  <ion-item (click)="editSched()">
    <ion-icon name="calendar" slot="start"></ion-icon>
    Service Schedule
  </ion-item>
  <ion-item (click)="addFood()">
    <ion-icon name="pizza" slot="start"></ion-icon>
    Add Food
  </ion-item>
  <ion-item (click)="menu()">
    <ion-icon name="list" slot="start"></ion-icon>
    Menu
  </ion-item>
  <ion-item (click)="album()">
    <ion-icon name="pizza" slot="start"></ion-icon>
    Albums
  </ion-item>
  <ion-item (click)="minfo()">
    <ion-icon name="book" slot="start"></ion-icon>
    More Information
  </ion-item>
  
</ion-list>