.main{
    padding: 20px;
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
    
  }
  #locate{
    position: relative;
    border: none;
    top: 5px;
    font-size: 30px;
    z-index: 2;
  }

 
  .separator{
    width: 100%;
    position: relative;
    float: left;
    clear: both;
  }
  .input{
    position: relative;
    width: 100%;
    clear: both;
    float: left;
    border-bottom: 1px solid #ccc
  }
  .place{
    float: right;
    width: calc(100% - 40px);
  }
  .item-holder{
    display: block;
    position: relative;
    clear: both;
    height: auto;
    overflow: hidden;

  }
  .item-holder:last-of-type{
    margin-top: 30px;
  }