<ion-header no-border >
    <ion-toolbar color="dark">
      <ion-buttons slot="start" class= 'back'>
        <ion-button (click)="goback()"><ion-icon name="arrow-round-back" class= 'back'></ion-icon></ion-button>
      </ion-buttons>
      <ion-text class="back-label">Back</ion-text>
      <ion-text class="head-button" (click)="edit()">SAVE</ion-text>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-row class="distance-top">
    <ion-col>
        <ion-label class="restaurant-label">{{title}}</ion-label>
    </ion-col>
  </ion-row>  
             
     
    <ion-row class="moderate">
      <ion-col>
        
        <input type="text" value="{{title}}" placeholder="Restaurant Name" class="moderation-input" [(ngModel)] = "title" ctl="ngModel" />
      </ion-col>
    </ion-row>

    <ion-row class="moderate">
        <ion-col>
          
          <textarea type="text" rows="4" value="{{minfo}}" placeholder="More Information" class="moderation-input" [(ngModel)] = "minfo" ctl="ngModel">

          </textarea>
        </ion-col>
      </ion-row>
      <ion-row class="moderate">
          <ion-col>
            <div class="moderation-input category-input" (click)="category()">
              <span *ngIf="!length" color="medium">Cuisines</span>
              <div class="cat-badge" *ngFor="let item of cat; index as i" [attr.data-index]="i" class="cat-badge">
                  <ion-icon name="close-circle"></ion-icon>
                {{item}}
              </div>
              <ion-icon color="medium" name="arrow-dropdown"></ion-icon>
            </div>
            
          </ion-col>
        </ion-row>
    <style>
    
    </style>
</ion-content>
