

<ion-header no-border >
    <ion-toolbar color="dark">
      <ion-buttons slot="start" class= 'back'>
        <ion-button (click)="goback()"><ion-icon name="arrow-round-back" class= 'back'></ion-icon></ion-button>
      </ion-buttons>
      <ion-text class="back-label">Back</ion-text>
      <ion-text class="head-button" (click)="done()">SAVE</ion-text>
    </ion-toolbar>
  </ion-header>


<ion-content>
     
          

          <ion-row class="days">
              <ion-col class="days-col">Monday</ion-col>
              <ion-col class="days-col right"><ion-checkbox color="secondary"></ion-checkbox></ion-col>
            </ion-row>
            <ion-row class="moderate">
                <ion-col>
                    <ion-item>
                        <ion-label position="stacked">Open Time</ion-label>
                        <ion-input value="" type='time'></ion-input>
                    </ion-item>
                </ion-col>
  
                <ion-col>
                    <ion-item>
                        <ion-label position="stacked">Close Time</ion-label>
                        <ion-input value="" type='time'></ion-input>
                    </ion-item>
                </ion-col>
            
            </ion-row>

            <ion-row class="days">
                <ion-col class="days-col">Tuesday</ion-col>
                <ion-col class="days-col right"><ion-checkbox color="secondary"></ion-checkbox></ion-col>
              </ion-row>
              <ion-row class="moderate">
                  <ion-col>
                      <ion-item>
                          <ion-label position="stacked">Open Time</ion-label>
                          <ion-input value="" type='time'></ion-input>
                      </ion-item>
                  </ion-col>
    
                  <ion-col>
                      <ion-item>
                          <ion-label position="stacked">Close Time</ion-label>
                          <ion-input value="" type='time'></ion-input>
                      </ion-item>
                  </ion-col>
              
              </ion-row>

              <ion-row class="days">
                  <ion-col class="days-col">Wednesday</ion-col>
                  <ion-col class="days-col right"><ion-checkbox color="secondary"></ion-checkbox></ion-col>
                </ion-row>
                <ion-row class="moderate">
                    <ion-col>
                        <ion-item>
                            <ion-label position="stacked">Open Time</ion-label>
                            <ion-input value="" type='time'></ion-input>
                        </ion-item>
                    </ion-col>
      
                    <ion-col>
                        <ion-item>
                            <ion-label position="stacked">Close Time</ion-label>
                            <ion-input value="" type='time'></ion-input>
                        </ion-item>
                    </ion-col>
                
                </ion-row>

                <ion-row class="days">
                    <ion-col class="days-col">Thursday</ion-col>
                    <ion-col class="days-col right"><ion-checkbox color="secondary"></ion-checkbox></ion-col>
                  </ion-row>
                  <ion-row class="moderate">
                      <ion-col>
                          <ion-item>
                              <ion-label position="stacked">Open Time</ion-label>
                              <ion-input value="" type='time'></ion-input>
                          </ion-item>
                      </ion-col>
                      <ion-col>
                          <ion-item>
                              <ion-label position="stacked">Close Time</ion-label>
                              <ion-input value="" type='time'></ion-input>
                          </ion-item>
                      </ion-col>
                  
                  </ion-row>

                  <ion-row class="days">
                      <ion-col class="days-col">Friday</ion-col>
                      <ion-col class="days-col right"><ion-checkbox color="secondary"></ion-checkbox></ion-col>
                    </ion-row>
                    <ion-row class="moderate">
                        <ion-col>
                            <ion-item>
                                <ion-label position="stacked">Open Time</ion-label>
                                <ion-input value="" type='time'></ion-input>
                            </ion-item>
                        </ion-col>
          
                        <ion-col>
                            <ion-item>
                                <ion-label position="stacked">Close Time</ion-label>
                                <ion-input value="" type='time'></ion-input>
                            </ion-item>
                        </ion-col>
                    
                    </ion-row>

                    <ion-row class="days">
                        <ion-col class="days-col">Saturday</ion-col>
                        <ion-col class="days-col right"><ion-checkbox color="secondary"></ion-checkbox></ion-col>
                      </ion-row>
                      <ion-row class="moderate">
                          <ion-col>
                              <ion-item>
                                  <ion-label position="stacked">Open Time</ion-label>
                                  <ion-input value="" type='time'></ion-input>
                              </ion-item>
                          </ion-col>
            
                          <ion-col>
                              <ion-item>
                                  <ion-label position="stacked">Close Time</ion-label>
                                  <ion-input value="" type='time'></ion-input>
                              </ion-item>
                          </ion-col>
                      
                      </ion-row>
                      <ion-row class="days">
                          <ion-col class="days-col">Sunday</ion-col>
                          <ion-col class="days-col right"><ion-checkbox color="secondary"></ion-checkbox></ion-col>
                        </ion-row>
                        <ion-row class="moderate">
                            <ion-col>
                                <ion-item>
                                    <ion-label position="stacked">Open Time</ion-label>
                                    <ion-input value="" type='time'></ion-input>
                                </ion-item>
                            </ion-col>
              
                            <ion-col>
                                <ion-item>
                                    <ion-label position="stacked">Close Time</ion-label>
                                    <ion-input value="" type='time'></ion-input>
                                </ion-item>
                            </ion-col>
                        
                        </ion-row>
        <style>
        
  ion-item {
            padding: 0px;
        }
        .days{
          padding-left: 18px;
          padding-right: 18px;
          
        }
        .moderate{
         
        }.days-col{
          
        }.right{
          text-align: right;
        }
        </style>
</ion-content>
