<ion-header no-border >
  <ion-toolbar color="dark">
    <ion-buttons slot="start" class= 'back'>
      <ion-button (click)="goback()"><ion-icon name="arrow-round-back" class= 'back'></ion-icon></ion-button>
    </ion-buttons>
    <ion-text class="back-label">{{label}}</ion-text>
    <ion-text class="head-button" (click)="goback()">NEXT</ion-text>
  </ion-toolbar>
</ion-header>

<ion-content overflow-scroll="true">
     
      <ion-row class="cat-row distance-top">
        <ion-col>

          <div *ngFor="let item of selected; index as i" [attr.data-index]="i" class="cat-badge" (click)="splice(i)">
              <ion-icon name="close-circle"></ion-icon>
            {{item}}
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="cat-row">
        <ion-col>
          <ion-text class="counter" color="medium">
            {{selected.length}} selected of 3
          </ion-text>
        </ion-col>
        
      </ion-row>
      <ion-row class="cat-row">
        <ion-col>
            <div class="cat-badge options" *ngFor="let item of category; index as i" [attr.data-index]="i" (click)="select(i)">
              {{item}}
            </div>
        </ion-col>
      </ion-row>
    <style>
      .cat-row{
        width: 100%;
        height: auto;
        overflow-y: hidden;

      }
      
      
      .counter{
        padding-left:10px;
      }
    </style>
   
  </ion-content>
  