

<ion-header no-border >
    <ion-toolbar color="dark">
      <ion-buttons slot="start" class= 'back'>
        <ion-button (click)="goback()"><ion-icon name="arrow-round-back" class= 'back'></ion-icon></ion-button>
      </ion-buttons>
      <ion-text class="back-label">Back</ion-text>
      <ion-text class="head-button" (click)="addFood()">SAVE</ion-text>
    </ion-toolbar>
  </ion-header>
<ion-content>
    
       
  <ion-row class="moderate picker" (click)="pickImage()">
    <ion-col>
        <div class="imgadd">
            <div class="photo-adder-label" *ngIf="!imgsrc"><ion-icon name="image" ></ion-icon> <span>Add Photo</span></div>
            <div class="showing" *ngIf="imgsrc">
                <img [src]="imgsrc" />
            </div>
        </div>
        
        <ion-text color="medium">You can only add one photo</ion-text>
    </ion-col>
  </ion-row>
          
            
                

              
</ion-content>
