
<ion-header no-border >
  <ion-toolbar color="dark">
    <ion-buttons slot="start" class= 'back'>
      <ion-button (click)="goback()"><ion-icon name="arrow-round-back" class= 'back'></ion-icon></ion-button>
    </ion-buttons>
    <ion-text class="back-label">Back</ion-text>
    <ion-text class="head-button" (click)="addReview()">DONE</ion-text>
  </ion-toolbar>
</ion-header>
<ion-content style="--padding-bottom: 0">
   
  <ion-row class="review-holder distance-top">
  <div class="picreview">
    <img src = "{{img}}" />

  </div>
  <div class="reviewtitle">
    <ion-label class="reviewname">{{name}}</ion-label>
    <ion-row class="starplace">
      <ion-col class="reviewprice">&#x20B1;{{price}}</ion-col>
      <ion-col class="reviewprice"><div class="stars"><rating [(ngModel)]="rate" 
        readOnly="false" 
        max="5" 
        emptyStarIconName="star-outline" 
        halfStarIconName="star-half" 
        starIconName="star"
        nullable="false"
        (ngModelChange)="onModelChange($event)"></rating>
      </div>

</ion-col>
    </ion-row>
  </div>
  <ion-row class="input">
    <ion-col><ion-textarea placeholder="Enter more information here..." rows="5" [(ngModel)] = "review" ctl="ngModel"></ion-textarea></ion-col>
  </ion-row>
  <ion-row class="pic-holder">
    <ion-col>


         

      <div class="reviewpicwrapper">
          <div class="add-pic uploaded" *ngFor="let item of imgsrc; index as i" [attr.data-index]="i" >
           
            <ion-icon name="close-circle-outline" class="ex" (click)="remove(i)"></ion-icon>
            <ion-img src="{{item}}">
            </ion-img>
            </div>
      <div class="add-pic" (click)="pickImage()">
        <div class="upload">
            <ion-icon name="image"></ion-icon><br />
        <ion-text color="medium">Upload Pic</ion-text>
      </div>
      </div>
      
    </div>
    </ion-col>
  </ion-row>
  <ion-row class="pic-holder paddingTop">
    
    <ion-col class="reviewer">
      Review As
    </ion-col>

  </ion-row>
  <ion-radio-group class="pic-holder ">
  <ion-row >
      
      <ion-col>
          <ion-item lines="none">
              <ion-label>Biff</ion-label>
              <ion-radio slot="start" value="biff" color="warning" checked></ion-radio>
            </ion-item>
      </ion-col>
      <ion-col>
          <ion-item lines="none">
              <ion-label>Anonymous</ion-label>
              <ion-radio slot="start" value="Anonymous" color="warning" checked></ion-radio>
            </ion-item>
    
      </ion-col>
    
    </ion-row>
  </ion-radio-group>
</ion-row>
  
</ion-content>
