
<ion-header no-border >
  <ion-toolbar color="dark">
    <ion-buttons slot="start" class= 'back'>
      <ion-button (click)="goback()"><ion-icon name="arrow-round-back" class= 'back'></ion-icon></ion-button>
    </ion-buttons>
    <ion-text class="back-label">Back</ion-text>
  </ion-toolbar>
</ion-header>
<ion-content style="--padding-bottom: 0">
   
  <ion-row class="review-holder distance-top">
  <div class="picreview">
    <img src = "{{img}}" />

  </div>
  <div class="reviewtitle">
    <ion-label class="reviewname">Sample title</ion-label>
    <ion-row class="starplace">
      <ion-col class="reviewprice">P 3434</ion-col>
      <ion-col class="reviewprice"><rating [rate]="rate"
        readonly="false" 
        size="large" 
        (rateChange)="onRateChange($event)">
      </rating>

</ion-col>
    </ion-row>
  </div>
  <ion-row class="input">
    <ion-col><ion-textarea placeholder="Enter more information here..." rows="5" [(ngModel)] = "review" ctl="ngModel"></ion-textarea></ion-col>
  </ion-row>
  <ion-row class="pic-holder">
    <ion-col>


        

      <div class="reviewpicwrapper">
          <div class="add-pic uploaded" *ngFor="let item of imgsrc; index as i" [attr.data-index]="i" >
           
            <ion-icon name="close-circle-outline" class="ex" (click)="remove(i)"></ion-icon>
            <ion-img src="{{item}}">
            </ion-img>
            </div>
      <div class="add-pic" (click)="pickImage()">
        <div class="upload">
            <ion-icon name="image"></ion-icon><br />
        <ion-text color="medium">Upload Pic</ion-text>
      </div>
      </div>
      
    </div>
    </ion-col>
  </ion-row>
  <ion-row class="pic-holder paddingTop">
    
    <ion-col class="reviewer">
      Review As
    </ion-col>

  </ion-row>
  <ion-radio-group class="pic-holder ">
  <ion-row >
      
      <ion-col>
          <ion-item lines="none">
              <ion-label>Biff</ion-label>
              <ion-radio slot="start" value="biff" color="warning" checked></ion-radio>
            </ion-item>
      </ion-col>
      <ion-col>
          <ion-item lines="none">
              <ion-label>Anonymous</ion-label>
              <ion-radio slot="start" value="Anonymous" color="warning" checked></ion-radio>
            </ion-item>
    
      </ion-col>
    
    </ion-row>
  </ion-radio-group>
</ion-row>
<div class="footer">
        <ion-button color="warning" expand="full" (click)="addReview()">Submit</ion-button>
  </div>

  <style>
    .ex{
      position: absolute;
      z-index: 1;
      top: 2px;
      left: 2px;
      font-size: 16px;
      color: #888;
    }
    .reviewer{
      color: #888;
      font-size: 22px;
    }
    
  .picreview{
    width: 50px;
    height: 54px;
    position: relative;
    clear: left;
    
  }
  
  .paddingTop{

    padding-top: 10px;
    border-top: 5px solid #dedede;
    margin-right: 5px;
  }
  .input{
    --padding: 0;
    width: 100%;
    clear: both;
    margin-right: 5px;
    padding: 0;
    margin-top: 5px;
    border-top: 1px solid #888;
  }
  .pic-holder{
    width: 100%;
    clear: both;
    
  }
  

  
    
  .review-holder{
    padding-left: 5px;
  }
  .picreview img{
    width: 100%;
    height: 100%;
  }
  .reviewname{
    font-size: 28px;
    font-weight: bold;
  }
  .reviewprice{
    position: relative;
    color: #888;
  }
  .starplace{
    width: 100%;
  }
  .reviewtitle{
    width: calc(100% - 70px);
    
    
    margin-left: 5px;
  }
  .reviewtitle ion-label{
    width: 100%;
    line-height: 22px;
  }
  .reviewprice{
    position: relative;
    float: left;
    width: calc(100% - 70px);
    height: 22px;
    top: 5px;
  }
  .reviewprice rating{
    position: relative;
    top: -10px;
  }
 .footer{
   padding: 0;
   width: 100%;
   position: fixed;
   bottom: 0px;
 }
  
  </style>
</ion-content>
