<ion-app>
  <ion-split-pane>
    <ion-menu>
       <div class="t_header">
        <ion-row>
            <ion-icon class="t_icon" name="cog"></ion-icon>
            <ion-row>
            <ion-label class="t_label">Account Settings</ion-label>
            <ion-label class="t_label2" color="medium">Take care</ion-label>
            </ion-row>
        </ion-row> 
        
        
         </div>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list> 
      </ion-content>
      

    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
<style>
  
</style>