

<ion-content>
    <ion-row>
      <ion-col class="row-col" >
          <ion-icon name="arrow-round-back" class= 'back' ></ion-icon>
      </ion-col>
    </ion-row>
    
    <ion-row>
        <ion-col class="row-col">
            <ion-label class="place-label">My Places</ion-label>
        </ion-col>
      </ion-row>
       
            
              
          
            <div class="" *ngFor="let item of result">
              <ion-card>
                  <ion-card-header>
                    <ion-card-subtitle>awdawdawd</ion-card-subtitle>
                    <ion-card-title>awdawdawdaw</ion-card-title>
                  </ion-card-header>
                </ion-card>
  
  
              </div>
  
       
        
        
  </ion-content>
  