
<ion-content overflow-scroll="true" class="moderate-content" [scrollEvents]="true"

(ionScroll)="logScrolling($event)"

 >

    
<ion-row id="wrap-slider" *ngIf="!impress" style="top: 0px;margin-top: -8px;position: relative;">
  <ion-skeleton-text animated style="width: 100%;height: 250px;"></ion-skeleton-text>
</ion-row>

  <ion-row id="wrap-slider" *ngIf="impress">
    <ion-col>
  <ion-slides pager="true" [options]="slideOpts" class="slide-holder" id="slider">
    <ion-slide *ngFor="let item of impress">
      <img [src] ='item' id="img-col"/>
    </ion-slide>
    
  </ion-slides>
  
  <ion-label id="photos"><ion-icon name="images"></ion-icon> {{impress.length}} photos</ion-label>
</ion-col>
</ion-row>
<ion-label id="back">
  <ion-icon name="arrow-round-back" tappable (click)="goback()"></ion-icon>
</ion-label>
<ion-button *ngIf="manage" color="warning"  id="adminControl" tappable (click)="presentPopover($event)">
    <ion-icon style="font-size: 26px;" name="more"></ion-icon>
</ion-button>
<ion-row class="showScroll showScroll-label">
    <ion-col>
        <ion-label>{{title}}</ion-label>
      </ion-col>
      <ion-col>
        
      </ion-col>
  </ion-row>
<ion-row class="showScroll showScroll-back">
  
</ion-row>

  <div id="title-holder">
    <div id="title-left">
  <ion-label id='title'>{{title}}</ion-label>
  <ion-row>
    <ion-col id="col-left"><ion-label color="medium">Opens in 30 mins </ion-label></ion-col>
    
  </ion-row>
  </div> 
  <div id="title-right">
      <ion-badge color="warning" id="resto-rate">2.2</ion-badge>
      <ion-label id="resto-review-sum">42 reviews</ion-label>
  </div>
  </div>

  <div id="floating-social">
  <ion-row class="social">
    

    <ion-col>
        <ion-row>
          <ion-col><ion-label>Heart <ion-icon class="social-icons" name="heart-empty"></ion-icon></ion-label></ion-col>
    </ion-row>
          <ion-row>
              <ion-col class="number"><ion-label>102 </ion-label></ion-col>
            </ion-row>
        
      </ion-col>


    <ion-col>
        <ion-row>
          <ion-col><ion-label>Follow <ion-icon class="social-icons follow" name="notifications-off"></ion-icon></ion-label></ion-col>
         
        </ion-row> 
          <ion-row>
              <ion-col class="number"><ion-label>102 </ion-label></ion-col>
            </ion-row>
        
      </ion-col>
      <ion-col>
          <ion-row>
            <ion-col><ion-label>Recommend <ion-icon class="social-icons recommend" name="thumbs-up"></ion-icon></ion-label></ion-col>
           
          </ion-row>
            <ion-row>
                <ion-col class="number"><ion-label>102 </ion-label></ion-col>
              </ion-row>
          
        </ion-col>
      
    
  </ion-row>
</div>
  <ion-row id="address">
    <ion-col>
      <ion-label>{{address}} </ion-label>
    </ion-col>
    <ion-col id="near-col">
        <span class="near" color="dark">{{distance}}km</span>
      </ion-col>
  </ion-row>


      <ul class="sec-menu">
        <li><ion-label color="dark">Menu <ion-icon name="list-box" color="medium"></ion-icon></ion-label></li>
        <li><ion-label color="dark">Reviews <ion-icon name="contacts" color="medium"></ion-icon></ion-label></li>
        <li><ion-label color="dark">Map <ion-icon name="map" color="medium"></ion-icon></ion-label></li>
        <li id="resto-call"><ion-icon name="call" color="warning"></ion-icon></li>
      </ul>
       
      


      

      <ion-row class="rower" *ngIf="foodL(food)"> 
        <ion-col><ion-label>
            Foods({{food.length}})
          </ion-label></ion-col>
          <ion-col class="right-label" *ngIf="foodCat">
            <div class="foods-cat" *ngFor="let item of foodCat; index as i" [attr.data-index]="i">
              {{item}}<span *ngIf="i < (foodCat.length - 1) && item != ''">,</span>
            </div>
             

          </ion-col>

      </ion-row>
       
      
      
        
      <div class="food-wrapper" *ngIf="foodL(food)">

          <div class="food-holder" *ngIf="!food">
              <ion-skeleton-text animated class="foods-card meal-overlay"></ion-skeleton-text>
              <ion-skeleton-text animated class="foods-card meal-overlay"></ion-skeleton-text>
              <ion-skeleton-text animated class="foods-card meal-overlay"></ion-skeleton-text>
          
          
      </div>
      
          <div class="food-holder" *ngIf="foodL(food)">
              <div class="foods" *ngFor="let item of food">
              <ion-card class="foods-card meal-overlay"  tappable (click)="viewmeal(item.id,item.name,item.price,item.img,i)">
          
              <ion-badge color="dark" class="ratings" *ngIf="global.numbercheck(item.rate)">{{item.rate}}</ion-badge>
              <ion-label class="food-name">{{item.name}}</ion-label>
      
          <ion-img src="{{post.server}}{{item.img}}"></ion-img>
          
        
        </ion-card>
        <div class="price">
          &#x20B1; {{item.price}} 
         </div>
        </div>
          
          
      </div>
      </div>
      <ion-row class="rower rower-label" *ngIf="minfo"> 
        <ion-col><ion-label>
            More Information
          </ion-label></ion-col>
      </ion-row>
      <ion-row class="rower" *ngIf="minfo">
        <ion-col>
          <p id="moreInfo">
            {{minfo.substr(0,150)}}
            <span id="readm" (click)="showminfo()">Read More <ion-icon name="arrow-dropright-circle"></ion-icon></span>
          </p>
        </ion-col>
    </ion-row>
      <ion-row class="rower rower-menu" style="margin-top: 10px;border-top: 1px solid #dedede;padding-top: 10px;"> 
        <ion-col><ion-label>
            Cuisines 
          </ion-label></ion-col>
          </ion-row>
          <ion-row class="rower">
              <div class="cat-badge options" *ngFor="let item of cuisines; index as i" [attr.data-index]="i" >
                  {{item}}
                </div>
          </ion-row>
          
     
        
        <ion-row class="rower rower-label"> 
            <ion-col><ion-label>
                Albums
              </ion-label></ion-col>
          </ion-row>
          
          <ion-row class="rower rower-menu">
              <ion-col>
                  <div class="albums img-foods" (click)="showGallery('customers')">
                      <div class="album-count">
                        54 Customers
                      </div>
                      <ion-img src ="https://i.ytimg.com/vi/XElF5UFmKwU/maxresdefault.jpg"></ion-img>
                  </div>
                  <div class="albums img-ambience" (click)="showGallery('restaurant')">
                      <div class="album-count">
                          54 Restaurant
                        </div>
                      <ion-img src ="https://i.ytimg.com/vi/Sq1o76DaOCE/maxresdefault.jpg"></ion-img>
                  </div>
                  <div class="albums img-all img-all-first" (click)="showGallery('all')">
                      <div class="album-count">
                          54 all
                        </div>
                      <ion-img src ="https://i.ytimg.com/vi/2Vhfc78XI9Q/maxresdefault.jpg"></ion-img>
                  </div>
                  <div class="albums img-all">
                      <div class="photo-adder-label" ><ion-icon name="image" ></ion-icon><br><span>Add Photo</span></div>

                    </div>
                  
                      
              </ion-col>
            </ion-row>

            <ion-row class="rower rower-label" > 
              <ion-col><ion-label>
                  Ratings and Reviews
                </ion-label></ion-col>
      
            </ion-row>
            <ion-row class="rower score-wrapper">
              <ion-col>
                <div id="review-bar">
                 <div id="rating-score">
                    {{rate}}<span id="ratings-over">/5</span>
                  </div>
                  
                </div>
                
                <rating class="stars" [(ngModel)]="rate" 
              readOnly="true" 
              max="5" 
              emptyStarIconName="star-outline" 
              halfStarIconName="star-half" 
              starIconName="star"
              nullable="false"
              (ngModelChange)="onModelChange($event)"></rating>
              
              </ion-col>
              <ion-col id="star-layer">
                 <ion-row class="progress" > 
                   <ion-col>
                   <ion-progress-bar value="0.5" color="warning"></ion-progress-bar> 
                   <span>54</span>
                  </ion-col>
                 </ion-row>
                 <ion-row class="progress" color="warning"> 
                    <ion-col>
                    <ion-progress-bar value="0.5" color="warning"></ion-progress-bar> 
                    <span>54</span>
                   </ion-col>
                  </ion-row>
                  <ion-row class="progress" > 
                      <ion-col>
                      <ion-progress-bar value="0.5" color="warning"></ion-progress-bar> 
                      <span>54</span>
                     </ion-col>
                    </ion-row>
                    <ion-row class="progress" > 
                        <ion-col>
                        <ion-progress-bar value="0.5" color="warning"></ion-progress-bar> 
                        <span>54</span>
                       </ion-col>
                      </ion-row>
                      <ion-row class="progress" > 
                          <ion-col>
                          <ion-progress-bar value="0.5" color="warning"></ion-progress-bar> 
                          <span>54</span>
                         </ion-col>
                        </ion-row>
                
                
                
                  
                   
    
                 
              </ion-col>
              
            </ion-row>
            <ion-row class="rower rower-label"> 
              <ion-col> 
                <ion-row class="review-buttons button-one">
                  <ion-col class="one-left">
                      <span>1 </span> 
                  </ion-col>
                  <ion-col class="one-right">
                      <ion-icon name="star"></ion-icon>
                  </ion-col>
                </ion-row>
                 
              </ion-col>
              <ion-col> 
                  <ion-row class="review-buttons button-two">
                    <ion-col class="one-left">
                        <span>2</span> 
                    </ion-col>
                    <ion-col class="one-right">
                        <ion-icon name="star"></ion-icon>
                    </ion-col>
                  </ion-row>
                   
                </ion-col>
                <ion-col> 
                    <ion-row class="review-buttons button-three">
                      <ion-col class="one-left">
                          <span>3</span> 
                      </ion-col>
                      <ion-col class="one-right">
                          <ion-icon name="star"></ion-icon>
                      </ion-col>
                    </ion-row>
                     
                  </ion-col>
                  <ion-col> 
                      <ion-row class="review-buttons button-four">
                        <ion-col class="one-left">
                            <span>4</span> 
                        </ion-col>
                        <ion-col class="one-right">
                            <ion-icon name="star"></ion-icon>
                        </ion-col>
                      </ion-row>
                       
                    </ion-col>
                    <ion-col> 
                        <ion-row class="review-buttons button-five">
                          <ion-col class="one-left">
                              <span>5</span> 
                          </ion-col>
                          <ion-col class="one-right">
                              <ion-icon name="star"></ion-icon>
                          </ion-col>
                        </ion-row>
                         
                      </ion-col>
             
            </ion-row>
            <ion-row class="rower review-label review-wrapper"> 
             
            </ion-row>
            <ion-row class="rower review-label review-wrapper"> 
             
            </ion-row>
            <ion-row class="rower review-label review-wrapper"> 
             
            </ion-row>
            <ion-row class="rower review-label review-wrapper"> 
             
            </ion-row>
 
</ion-content>


