
<ion-content>
    <style>
      .edit{
        color: #888;
        font-size: 14px;
        text-decoration: underline;
        font-weight: normal;
      }.edit:active{
        opacity: 0.4;
        transition: all 0.4s;
        
      }
  
  

      </style>

  <ion-row >
    <ion-col>
  <ion-slides pager="true" [options]="slideOpts" class="slide-holder">
    <ion-slide *ngFor="let item of impress">
      <img [src] ='item' />
    </ion-slide>
    
  </ion-slides>
  <ion-label id="back">
  <ion-icon name="arrow-round-back" (click)="goback()"></ion-icon>
</ion-label>
  <ion-label id="photos"><ion-label class="{{edit}}" style="color: #fff" (click)="addPhoto()"><ion-icon name="create"></ion-icon> Add Photo</ion-label><ion-icon name="images"></ion-icon> 50 photos</ion-label>
</ion-col>
</ion-row>
  <div id="title-holder">
    <div id="title-left">
  <ion-label id='title'>{{title}} <ion-label class="{{edit}}" (click)="editTile()"><ion-icon name="create"></ion-icon> Edit</ion-label></ion-label>
  <ion-row>
    <ion-col id="col-left"><ion-label>Opens in 30 mins </ion-label> <ion-label class="{{edit}}" (click)="editSched()"><ion-icon name="create"></ion-icon> Edit</ion-label></ion-col>
    
  </ion-row>
  </div> 
  <div id="title-right">
      <ion-badge color="warning" id="resto-rate">2.2</ion-badge>
      <ion-label id="resto-review-sum">42 reviews</ion-label>
  </div>
  </div>
  <div id="floating-social">
  <ion-row class="social">
    

    <ion-col>
        <ion-row>
          <ion-col><ion-label>Heart <ion-icon class="social-icons" name="heart-empty"></ion-icon></ion-label></ion-col>
    </ion-row>
          <ion-row>
              <ion-col class="number"><ion-label>102 </ion-label></ion-col>
            </ion-row>
        
      </ion-col>


    <ion-col>
        <ion-row>
          <ion-col><ion-label>Follow <ion-icon class="social-icons follow" name="notifications-off"></ion-icon></ion-label></ion-col>
         
        </ion-row> 
          <ion-row>
              <ion-col class="number"><ion-label>102 </ion-label></ion-col>
            </ion-row>
        
      </ion-col>
      <ion-col>
          <ion-row>
            <ion-col><ion-label>Recommend <ion-icon class="social-icons recommend" name="thumbs-up"></ion-icon></ion-label></ion-col>
           
          </ion-row>
            <ion-row>
                <ion-col class="number"><ion-label>102 </ion-label></ion-col>
              </ion-row>
          
        </ion-col>
      
    
  </ion-row>
</div>
  <ion-row id="address">
    <ion-col>
      <ion-label>{{address}} <ion-label class="{{edit}}" (click)="editAddress()"><ion-icon name="create"></ion-icon> Edit</ion-label></ion-label>
    </ion-col>
    <ion-col id="near-col">
        <span class="near">11km</span>
      </ion-col>
  </ion-row>


      <ul class="sec-menu">
        <li><ion-label>Menu <ion-icon name="list-box"></ion-icon></ion-label></li>
        <li><ion-label>Reviews <ion-icon name="contacts"></ion-icon></ion-label></li>
        <li><ion-label>Map <ion-icon name="map"></ion-icon></ion-label></li>
      </ul>
       
       <!-- <ion-label> <ion-icon name="call" color="secondary"></ion-icon>Menu</ion-label> -->


       <ion-row style="padding: 10px;">
          <ion-col>
              <ion-row><ion-col>
              <ion-label class="food-label">Meals</ion-label>
            </ion-col>
            </ion-row>
              <ion-row>
                <ion-col><ion-label class="{{edit}}" (click)="addFood()"><ion-icon name="pizza"></ion-icon> Add Meals</ion-label></ion-col>
              </ion-row>
            </ion-col>
        <ion-col class="food-label-num">
          <ion-label>{{dishes}} Meals</ion-label>
        </ion-col>
      </ion-row>

     
        <div class="food-wrapper">
          <div class="food-holder">
          <div class="foods meal-overlay" *ngFor="let food of meals" (click)="viewmeal(food.id,food.name,food.price,food.img,i,food.cat)">
              <ion-badge color="dark" class="ratings">{{food.rate}}</ion-badge>
              <ion-label class="food-name">{{food.name}}</ion-label>
      
          <ion-img src="{{post.server}}{{food.img}}" ></ion-img>
          
          </div>
  
          
          
      </div>
      </div>
      
 

  <ion-row style="padding: 10px;">
    <ion-col>
      <ion-row><ion-col>
      <ion-label class="food-label">Beverages</ion-label>
    </ion-col>
    </ion-row>
      <ion-row>
        <ion-col><ion-label class="{{edit}}" (click)="addBeverages()"><ion-icon name="wine"></ion-icon> Add Beverages</ion-label></ion-col>
      </ion-row>
    </ion-col>
    <ion-col class="food-label-num">
      <ion-label>{{beverages}} Beverages</ion-label>
    </ion-col>
  </ion-row>
  <div class="food-wrapper">
    <div class="food-holder">
    <div class="foods meal-overlay" *ngFor="let food of beverage" (click)="viewmeal(food.id,food.name,food.price,food.img,i,food.cat)">
        <ion-badge color="dark" class="ratings">{{food.rate}}</ion-badge>
        <ion-label class="food-name">{{food.name}}</ion-label>

    <ion-img src="{{post.server}}{{food.img}}" ></ion-img>
    
    </div>

    
    
</div>
</div>

<ion-row style="padding: 10px;">
  <ion-col>
    <ion-row><ion-col>
    <ion-label class="food-label">Deserts</ion-label>
  </ion-col>
  </ion-row>
    <ion-row>
      <ion-col><ion-label class="{{edit}}" (click)="addDesserts()"><ion-icon name="wine"></ion-icon> Add Dessert</ion-label></ion-col>
    </ion-row>
  </ion-col>
  <ion-col class="food-label-num">
    <ion-label>{{desserts}} Deserts</ion-label>
  </ion-col>
</ion-row>
<div class="food-wrapper">
  <div class="food-holder">
  <div class="foods meal-overlay" *ngFor="let food of dessert" (click)="viewmeal(food.id,food.name,food.price,food.img,i,food.cat)">
      <ion-badge color="dark" class="ratings">{{food.rate}}</ion-badge>
      <ion-label class="food-name">{{food.name}}</ion-label>

  <ion-img src="{{post.server}}{{food.img}}" ></ion-img>
  
  </div>

  
  
</div>
</div>
  <style>
    .food-align{
      padding: 0px;
      position: relative;
      clear: both;
      list-style-type: none;

    }
    .food-align li{
      display: inline-block;
      width: 153.75px;
      height: auto;
      overflow: hidden;
      position: relative;
      margin-right: 7px;
      float: left;
    }
    .tago{
      display: none;
    }
  
  </style>

</ion-content>

