

ul.sec-menu{
  width: 100%;
  position: relative;
  margin: auto;
  clear: both;
  height: auto;
  overflow: hidden;
  list-style-type: none;
  padding: 3px;
  margin-bottom: 15px;
  padding-left: 7px;
  padding-right: 0px;
  border-bottom: 1px solid #dedede;
  display: flex;
}
 
.slide-holder{
  height: 250px;
  --bullet-background: #f5f5f5;
  --bullet-background-active: #e8403e;
 


}
.slide-holder img{
  height: 100%;
}
ul.sec-menu li:active{
  opacity: 0.4;
  transition: all 0.4s;
}
ul.sec-menu-listing{
  text-align: right;
  
  padding: 0px;
  padding-top: 3px;
}
ul.sec-menu li{
  display: inline-block;
  text-align: left;
  
  font-size: 17px;
  margin-right: 15px;
  text-align: right;
  line-height: 30px;
}
ul.sec-menu li ion-label{
  border-bottom: 3px dotted #ffce00;
}
#resto-call{
  position: relative;
  line-height: 22px;
  flex-grow: 100;
}
#resto-call ion-icon{
  position: relative;
  top: 5px;
  float: right;
  font-size: 25px;
  display: block;
  
}
 


.near{
  position: relative;
  padding: 3px;
  background-color: #333;
  color: #f5f5f5;
  border-radius: 3px;
}
#near-col{
  text-align: right;
  padding-right: 4px;
}
.food-label{
  font-size: 22px;
  font-weight: bold;
}
 
.food-label-num ion-label{
  line-height: 22px;
  position: relative;
  top: 6px;
}
.social{
  border-radius: 10px;
  text-align: center;
  background-image: linear-gradient(to right, #888, #333,#888);
  font-weight: normal;
  font-size: 13px;
  color: #f5f5f5;
  padding: 3px;


}
  #floating-social{
    position: fixed;
    bottom: 20px;
    width: 90%;
    left: 50%;
    transform: translate(-50%,0);
    z-index: 2;
    opacity: 0.8;

  }
  .number{
    font-size: 12px;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .recommend{
    top: 3px;
  }
  
  ion-col{
    --ion-grid-column-padding: 0
  }
 
  #address{
    
    padding: 10px;
    border-bottom: 1px solid #dedede;
    background-color: #f5f5f5;
    font-family: 'Open Sans', sans-serif;
    
  }
  #address ion-label{
    color: #888;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  #call{
    text-align: right;
    font-size: 27px;
    
  }
  #call ion-icon{
    position: relative;
    right: 10px;
  }
  #call ion-icon:active{
    opacity: 0.4;
    transition: all 0.4s;
  }
 #img-col{
  filter: brightness(115%);
 }
  #col-right{
    text-align: right;
    font-size: 18px;
  }
  
  #photos, #back{
    position: absolute;
    width: 100%;
    text-align: right;
    
    color: #f5f5f5;
    font-size: 14px;
    padding-right: 4px;
    z-index: 1;

  }
  #photos{
    bottom: 0px;
    background-image: linear-gradient(to bottom, rgba(255,0,0,0), #333);
  }
  #back{
    text-align: left;
    padding-left: 8px;
    top: 20px;
    font-size: 32px;
    width: 40px;
    position: fixed;
    z-index: 6;
  }

  ion-slides{
    --bullet-background-active:#000;
  }
  #wrap-slider{
    position: relative;
     
    width: 100%;
     
  }
  
  
 
  .showScroll{
    position: fixed;
    height: 90px;
    background: none;
    z-index: 2;
    width: 100%;
    display: none;
    top: 0px;
  }
  .showScroll-back{
    
    opacity: 0.8;
    background-image: linear-gradient(to top, rgba(255,0,0,0), #000);
  }
  .showScroll-label{
    color: #f5f5f5;
    font-weight: 28px;
    font-weight: bold;
    z-index: 4;
  }
  .showScroll-label ion-label{
    position: relative;
    top: 27px;
    left: 50px;
  }
  
  #resto-review-sum{
    width: 100%;
    clear: both;
    position: relative;
    float: left;
    text-align: center;
    font-size: 11.5px;
    color: #888;
    margin-top: 3px;
  }
  ion-slide img{
    width: 100%;
    height: 235px;
  }#title-holder{
    width: 100%;
    padding: 10px;
    padding-top: 13px;
    padding-bottom: 13px;
    height: auto;
    overflow: hidden;
    border-bottom: 2px dotted #dedede;
    
  

  }
  .foods{
   
    width: 145px;
 
   
  }
  .food-name{
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
  }
  .foods-card{
    height: 157px;
    
  }
   
  #title{
    font-weight: bold;
    font-size: 26px;
    color: #333;
    
    word-break: normal;
    
  }#title-left{
    float: left;
    clear: left;
    position: relative;
    width: 70%;
    word-break: break-all;
   
    
  }#more{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 11px;
    color: #888;
  }#title-right{
    position: relative;
    text-align: center;
    float: right;
  }
  #resto-rate{
    font-size: 22px;
    margin: auto;
    clear: both;
    position: relative;
    float: left;
    left: 50%;
    transform: translate(-50%,0)
  }.editor, .hide{
    display: none;
    color: #888;
    font-size: 14px;
    text-decoration: underline;
    font-weight: normal;
  }.hide:active{
    opacity: 0.4;
    transition: all 0.4s;
    
  }
  .hide{
    display: block;
  }
  
  .moderate-content{
    --background: #f5f5f5;
  }
  
  .rower{
    width: 100%;
    float: left;
    position: relative;
    clear: both;
    background-color: #f5f5f5;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    overflow-x: hidden;
  
  }
  .rower-label{
    margin-top: 10px;
    border-top: 1px solid #dedede;
    padding-top: 10px;
    font-family: 'Open Sans', sans-serif;
  }
  .rower ion-label{
    color: #323335 !important;
    font-size: 18px;
  
    
  }
  .rower-menu{
    width: 100%;
    display: inline-flex;
  }
   
  .menu-wrap{
    width: 80px;
    height: 80px;
    float: left;
    position: relative;
    margin-right: 10px;
    
  }
  .menu-wrap ion-img, .albums ion-img{
    object-fit:cover;
    width: 100%;
    height: 100%;
    
  }.albums ion-img{
    filter: brightness(101%);
  }
  .albums{
    
    position: relative;
    border-radius: 5px;
    overflow: hidden;
  }
  .albums:active{
    opacity: 0.4;
    transition: all 0.4s;
  }
  .img-foods{
    float: left;
    clear: both;
    width: calc(50% - 10px);
    height: 150px;
    margin-right: 5px;

  }
  .img-ambience{
    float: left;
    position: relative;
    height: 75px;
    width: calc(50% + 5px);
    margin-bottom: 5px;
  }
  
  .img-all{
    width: calc(25%);
    float: left;
    position: relative;
    height: 70px;
  }
  .img-all:last-of-type{
    background-color: #111;
  }
  .img-all-first{
    margin-right: 5px;
  }
  .photo-adder-label{
    position: relative;
    top: 20%;
    color: #ccc;
  }
  .photo-adder-label span{
    font-size: 10px;
  }
  .foods-cat{
    float: left;
    position: relative;
    color: #888;
    font-size: 14px;
    margin-right: 2px;
    font-family: 'Open Sans', sans-serif;
  }
 
#adminControl{
  position: fixed;
  z-index: 5;
  right: 10px;
  top: 15px;
}.right-label{
  position: relative;
  text-align: right;
}
#moreInfo{
   
  color: #888;
  line-height: 31px;
  text-align: left;
  word-wrap:break-word;
  
  font-size: 15px;
}
.price{
  font-size: 15px
}
.review-buttons{
  text-align: center;
  position: relative;
  clear: both;
  height: auto;
  overflow: hidden;
  color: #f5f5f5;
  padding: 5px;
  font-size: 14px;
  align-content: center;
  border-radius: 5px;
  margin-right: 5px;
  filter: brightness(80%);
  opacity: 0.8;
}
.review-buttons span{

  
  display: block;
  width: 100%;
  position: relative;

}
.album-count{
  position: absolute;
  padding: 3px;
  background-color: #211f1f;
  text-align: center;
  color: #ccc; 
  bottom: 0px;
  font-size: 11px;
  z-index: 1;
  width: 100%;

}
.one-left{
  position: relative;
  text-align: right;

}
.one-right{
  position: relative;
  text-align: left;
}
.review-buttons ion-icon{
  font-size: 15px;
  
}
.button-one{
  
  background-color: #86bc64;
}
.button-two{
  
  background-color: #86f441;
}
.button-three{
  background-color: #b54f10;
}
.button-four{
  background-color: #b57510;
}
.button-five{
  background-color: #ffb400;
}
.cat-badge:active{
background-color: none;
color: #f5f5ff;
transition: all 0.7s ;
}
.review-label{

padding: 10px;
margin-bottom: 0px;


} 
#review-bar{
width: 140px;
height: auto;
overflow: hidden;

color: #323335;
font-weight: bold;
border-radius: 10px;
margin-top: 10px;
position: relative;
float: left;
clear: left;
}
#rating-score{
position: relative;
display: block;
font-size: 50px;

text-align: center;

}
#ratings-over{
position: relative;
display: block;
font-size: 24px;
color: #888;
}
.stars{
float: left;
clear: left;
position: relative;
margin-top: -10px;
}
#star-layer{
float: left;


position: relative;
width: 50%;
height: auto;
overflow: hidden;
padding-top: 10px;
margin-top: 10px;
}

.progress{
position: relative;
margin-bottom: 10px;


}
.progress ion-progress-bar{
width: calc(100% - 20px);
float: left;
clear: left;
position: relative;
}
.progress span{
display: block;
float: left;
position: relative;
width: 20px;
font-size: 13px;
color: #888;
font-family: Arial, Helvetica, sans-serif;
top: -5px;

}
.review-wrapper ion-label{
position: relative;
font-size: 15px;
}
.review-filter-wrapper{
text-align: right;
position: relative;
}.review-filter-wrapper ion-icon{
position: relative;
top: 3px;
margin-right: 10px;
margin-left: 5px;
}
#readm{
  position: relative;
  padding: 5px;
  border-radius: 7px;
  color: #a8a4a4;
  padding-left: 10px;
  padding-right: 5px;
  white-space: nowrap;
  background-image: linear-gradient(to bottom, #efe6e6, #efefef,#efe6e6);
  
}
#readm ion-icon{
  position: relative;
  font-size: 25px;
  top: 7px;
  margin-left: 10px;
}
#readm:active{
  opacity: 0.4;
  transition: all;
}
 
 







