// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
.my-custom-modal-css .modal-wrapper {
    position: fixed; 
    display: block;  
    
 }
 .row-col{
  padding: 15px;
  background: none;
  color: #f5f5f5;
  position: fixed;
  z-index: 1;
}
.back{
  font-size: 30px;
}.back:active{
  opacity: 0.4;
  transition: all 0.4s;
}
 .back-label{
   position: relative;
   top: 3px;
   font-size: 20px;
   font-weight: bold;
 }
 .head-button{
   position: relative;
   float: right;
   top: 5px;
   right: 6px;
 }
  .distance-top{
    margin-top: 20px;
  }
  .moderate-input{
      padding: 20px;
      padding-bottom: 0px;
      
  }.minus-top{
      margin-top: 0px;
  }
  
  .place-label{
    font-weight: bold;
    font-size: 30px
  }.margin-bot{
    margin-bottom: 20px;
  }
  .social-icons{
    font-size: 20px;
    position: relative;
    top: 6px;
  }

  .social{
    border-radius: 10px;
    text-align: center;
    background-color: #333;
    font-weight: normal;
    font-size: 13px;
    color: #f5f5f5;
    padding: 3px;
  

  }
.top-label{
  position: relative;
  top: -7px;
  font-size: 20px;
  left: 20px;
}

  .actions{
    position: absolute;
    z-index: 1;
    bottom: 0px;
    width: 100%;
    border-radius: 0px;
    background: none;
    padding-bottom: 13px;
    padding-left: 0px;
  }
  .actions ion-col{
    text-align: center;
    
  }
  .social ion-label{
    line-height: 22px;
  }




  .t_header{
    width: 100%;
    padding: 10px;
    border-bottom: 1px dotted #ccc;
  }
  .t_icon{
    font-size: 30px;
    float: left;
    clear: left;
    position: relative;
    margin-right: 20px;
    display: inline-block;
  }
  .t_label{
    position: relative;
    font-size: 15px;
    width: 100%;
    
    
  }
  .t_label2{
    float: left;
    clear:left;
    position: relative;
    font-size: 12px;
  }
  .label-click{
    font-size: 17px;
    
    
    text-align: left;
    
    
  }.label-click:active{
    opacity: 0.4;
    transition: all 0.4s;
  }
  .right-pick{
    text-align: right;
  }
  .col-label{
    --ion-grid-column-padding: 20px;
  }
 
  
  .imgpicker{
    display: block;
    max-width: 90%;
    margin: auto;
  }


  
  .reviewpicwrapper{
    width: 100%;
    position: relative;
    clear: both;
    overflow-x: scroll;
  }
  

  .add-pic{
    float: left;
    height: 80px;
    width: 80px;
    position: relative;
    border: 2px dotted #888;
    
  }
  .uploaded{
    float: left;
    position: relative;
    border: none;
    overflow: hidden;

  }


  .foods-card ion-img{ 
    object-fit:cover;
    width: 100%;
    height: 100%;
  
    
  }
  .foods{
    display: block;
    float: left;
    width: 200px;
    height: auto;
    overflow: hidden;
    position: relative;
    margin-right: 4px;
    padding-top: 0px;
    padding-bottom: 0px;
    
    padding-left: 0px;
  
   
  }
  .foods-card{
    height: 197px;
    float: left;
    clear: both;
    position: relative;
    width: 93%;
  }
  .foods-card:active{
    opacity: 0.6;
    transition: all 0.3s;
  }
  

  .food-holder{
    display: inline-flex;
    position: relative;
    height: 100%;
    overflow: hidden;
    margin-bottom: 2px;
    
  }
  .food-wrapper{
    width: calc(100% - 10px);
    overflow-x: scroll;
    margin-left: 5px;
    position: relative;
    
  
  }
  .food-wrapper::-webkit-scrollbar{
    display: none;
    
  }

  .food-name{
    font-size: 18px;
    color: #f5f5f5;
    position: absolute;
    z-index: 1;
    bottom: 0px;
    width: 100%;
    word-wrap: break-word;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 6px;
    padding-top: 7px;
    background-image: linear-gradient(to bottom, rgba(255,0,0,0), #333);
  
  }
  .ratings{
    position: absolute;
    top: 3px;
    left: 3px;
    font-size: 20px;
  }

  .submit{
    font-size: 14px;
    float: right;
    position: relative;
    top: 10px;
  }

  .moderation-input{
    border: 1px solid #dedede;
    padding: 10px;
    outline: none;
    width: 100%;
    border-radius: 5px;
    color: #333;
    font-size: 15px;
    background-color: #f5f5f5;

  }
  .moderation-input ion-icon{
    position: relative;
    float: right;
    clear: right;
    right: 10px;
  }
  .moderate{
    width: 100%;
    clear: both;
    position: relative;
    
  }
  .cat-badge{
    float: left;
    position: relative;
    margin-right: 5px;
    padding: 8px;
    border-radius: 10px;
    background-color: #ccc;
    margin-bottom: 10px;
  }
  .options{
    background-color: #333;
    color: #dedede;
  }
  .cat-badge ion-icon{
    position: absolute;
    right: -3px;
    top: -5px;
  }
  .photo-adder-label{
    width: 100%;
    position: relative;
    text-align: center;
    top: 50%;
    

  }
  .photo-adder-label span{
    position: relative;
    top: -5px;
  }
  .photo-adder-label ion-icon{
    font-size: 25px;
  }
  .category-input{
    height: auto;
    overflow: hidden;
    
  }
  .cat-badge:active{
    opacity: 0.4;
    transition: all 1s;
  }
  .options{
    background-color: #333;
    color: #dedede;
  }
  ul {
    padding: 0px;
   
    &.rating li {
      padding: 0px 2px !important;
      background: none;
      color: #ffb400;
      margin-right: -10px;
      ion-icon {
        font-size: 35px;
      }
    }
  }
  .price{
    position: relative;
    width: 100%;
    padding-left: 10px;
    color: #888;
    font-size: 20px;
    float: left;
    clear: both;
  }