// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
.my-custom-modal-css .modal-wrapper {
    width: 90%;
    height: 350px;
    
    position: fixed; 
    display: block;  
    border-radius: 10px;
 }
 .row-col{
    padding: 15px;
  }

  .back{
    font-size: 30px;
  }.back:active{
    opacity: 0.4;
    transition: all 0.4s;
  }.moderate-input{
      padding: 20px;
  }.minus-top{
      margin-top: -10px;
  }
  
  .place-label{
    font-weight: bold;
    font-size: 30px
  }